$title-text: "Righteous", sans-serif;
$read-text: "Poppins", sans-serif;

$primary-color: #190482;
$secondary-color: #7752fe;
$accent-color: #8e8ffa;
$neutral-color: #c2d9ff;

html {
  scroll-behavior: smooth;
}

p {
  font: 100% $read-text;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  transition: top 0.3s;
  background-color: transparent;
  padding-top: 1rem;
  z-index: 999;
}

.nav-menu {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(
    to bottom,
    $secondary-color 25%,
    $accent-color 100%
  );
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.nav-item {
  font-size: 2rem;
  background-color: $neutral-color;
  border-radius: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0.25rem;
}

.nav-item:hover {
  background-color: #cff9ff;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url("../assets/stacked-waves.png");
  background-position: right bottom;
  background-size: cover;
  z-index: 10;
}

.head-text {
  font: 100% $title-text;
  color: $secondary-color;
}

.title {
  font: 100% $title-text;
  font-size: 5rem;
  color: $primary-color;
}

.title-bg {
  background-color: $neutral-color;
  position: relative;
  right: 10%;
  padding-left: 1em;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 100;
}

.about {
  background-image: linear-gradient(
    to bottom,
    $secondary-color 25%,
    $accent-color 100%
  );
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
}

.projects {
  background-image: linear-gradient(
    $accent-color,
    $neutral-color,
    $secondary-color
  );
}

.project-img {
  width: 50%;
  border-radius: 30px;
  border-style: inset;
  border-width: 7px;
  border-color: $secondary-color;
  margin-top: 1rem;
}

.project-img:hover {
  border-style: outset;
}

.badge-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.badge {
  font: 100% $read-text;
  color: white;
  border-radius: 30px;
  background-color: $primary-color;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.box {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 20%;
  background: $neutral-color;
  z-index: -1;
  top: 145%;
  right: 80%;
}

.flip-card {
  display: flex;
  flex-shrink: initial;
  align-items: center;
  height: 225px;
  width: 225px;
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
  backface-visibility: hidden;
}

.flip-card-front {
  padding: 3rem;
}

.flip-card-back {
  background-color: #2915b9;
  color: white;
  transform: rotateY(180deg);
}

.contacts {
  background-color: #7752fe;
  text-align: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  font-size: 2.5rem;
  background-color: $primary-color;
  color: $neutral-color;
  z-index: 1;
}

.waves {
  position: absolute;
  width: 100%;
  top: 420%;
  z-index: 0;
}

.small-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 2rem;
  width: 60px;
  height: 50px;
  background-color: $neutral-color;
}

@media only screen and (max-width: 992px) {
  .nav-menu {
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .nav-item {
    font-size: 1.5rem;
  }

  .project-img {
    width: 80%;
  }

  .flip-card {
    width: 160px;
    height: 160px;
  }

  .flip-card-front {
    padding: 1.5rem;
  }

  .icon {
    width: 75px;
    height: 75px;
    padding: 1rem;
  }

  .box {
    width: 200px;
    height: 200px;
    top: 125%;
    right: 10%;
  }

  .waves {
    position: relative;
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .flip-card {
    width: 95px;
    height: 95px;
  }

  .box {
    width: 200px;
    height: 200px;
    top: 140%;
  }
}
